.ac-game-menu {
	width: 100%;
	height: 100%;
	background-image: url("/static/image/menu/menu.png");
	/* background-image: url("https://s1.328888.xyz/2022/09/26/sjGtS.png ");  图床*/
	background-size: 100% 100%;
	/* 让用户无法选中页面中的文本 */
	user-select: none;
}	

.ac-game-settings {		/* 和ac-game-menu一样 */
	width: 100%;
	height: 100%;
	background-image: url("/static/image/menu/menu.png");
	background-size: 100% 100%;
	user-select: none;
}

.ac-game-settings-login {
	height: 41vh;
	width: 20vw;
	position: relative;					/*22 - 25 居中*/
	top: 50%;							
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
}

.ac-game-settings-register {
	height: 49vh;
	width: 20vw;
	position: relative;					/*从这往下4行   居中*/
	top: 50%;							
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(0,0,0,0.7);	
	border-radius: 5px;
}
.ac-game-settings-title {
	color: white;
	font-size: 3vh;
	text-align: center;
	height: 7vh;
	padding-top: 2vh;
	margin-bottom: 2vh;
}

.ac-game-settings-username {
	display: block;
	height: 7vh;
}

.ac-game-settings-password {
	display: block;			
	height: 7vh;
}

.ac-game-settings-submit {
	display: block;			
	height: 7vh;
}

.ac-game-settings-item {
	width: 100%;
	height: 100%;
}

.ac-game-settings-item > input {
	width: 90%;
	line-height: 3vh;
	position: relative;					/*从这往下4行   居中*/
	top: 50%;							
	left: 50%;
	transform: translate(-50%,-50%);
}

.ac-game-settings-item > button {		/* > 表示选择器 , 如果这个里面有 xxx 就添加对于css */
	color: white;
	width: 90%;
	line-height: 3vh;
	position: relative;					/*从这往下4行   居中*/
	top: 50%;							
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #4CAF50;
	border-radius: 7px;
}

.ac-game-settings-error-message {
	color: red;
	font-size: 1.8vh;
	display: inline;
	float: left; 
	padding-left: 1vw;
}

.ac-game-settings-option {
	color: white;
	font-size: 2.4vh;
	display: inline;
	float: right; 
	padding-left: 2vw;
	cursor: pointer;		/* 鼠标变小手喵*/
}

.ac-game-menu-field {
	width: 20vw;   /* vh vw是百分比,这样菜单会根据显示器的分辨率自适应*/
	
	/* 这是相对位置, 用top和left可以设置相应偏移量 */
	position: relative;
	top:  30%;		
	left: 40%;		
}

.ac-game-menu-field-item {
	color: white;
	height: -9vh;
	width: 18vw;
	font-size: 6vh;
	font-style: italic;
	padding: 2vh;	/*这些东西的参数可以在浏览器f12工具调试*/
	text-align: center;
	background-color: rgba(39,21,28,0.6) ;
	border-radius: 15px;	/*圆角*/
	letter-spacing: 0.5vw;  /* 字间距 */
	cursor: pointer;     	/* 鼠标变成小手的形状 */
}

/* 鼠标悬停让按钮变大(变大程度 | 变大时间) */
.ac-game-menu-field-item:hover	{
	transform: scale(1.2);
	transition: 100ms;
}

.ac-game-playground		{
	width: 100%;
	height: 100%;
	user-select: none;
}